@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.gradient-animated {
  background-size: 200% 200%;
  animation: gradientAnimation 3s linear infinite;
}


.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradientAnimation 3s linear infinite;
}
.animate-slide-from-left {
  animation: slideFromLeft 1s forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

